<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 API 프로젝트</title>
    <link rel="stylesheet" type="text/css" th:href="@{/master.css}">
</head>
<body>
    <header>
        <h1>게시글 상세보기</h1>
    </header>
    <main>
        <table class="post-detail">
            <tr>
                <th width="20%">제목</th>
                <td th:text="${post.title}"></td>
            </tr>
            <tr>
                <th>게시 날짜</th>
                <td th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
            <tr>
                <th>내용</th>
                <td th:text="${post.content}" class="post-content"></td>
            </tr>
        </table>
        <div class="buttons">
            <button class="backButton button"><a href="/post">뒤로가기</a></button>
            <button class="deleteButton button"><a th:href="@{/post/delete/{id}(id=${post.id})}">삭제하기</a></button>
        </div>
    </main>
</body>
</html>