<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 API 프로젝트</title>
    <link rel="stylesheet" type="text/css" th:href="@{/master.css}">
</head>
<body>
    <header>
        <h1>게시글 목록</h1>
    </header>
    <main>
        <table class="post-list">
            <thead>
                <th width="80%">제목</th>
                <th>게시 날짜</th>
            </thead>
            <tbody>
                <tr th:each="post : ${posts.content}">
                    <td><a th:href="@{/post/{id}(id=${post.id})}" th:text="${post.title}" class="title"></a></td>
                    <td th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
                </tr>
            </tbody>
        </table>
        <div class="pages">
            <p th:each="i : ${#numbers.sequence(1, posts.totalPages)}">
                <a th:text="${i}" th:href="@{/post?page={i}(i=${i-1})}"></a>
            </p>
        </div>
        <button class="button addButton"><a href="/post/add">게시글 추가</a></button>
    </main>
</body>
</html>